<%= form_for(@prac) do |f| %>
  <% if @prac.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prac.errors.count, "error") %> prohibited this prac from being saved:</h2>

      <ul>
      <% @prac.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>

  <div class="field" style="background-color:pink;">
  <br>
  <%= f.label :ailment_id %>
  <br>
  <strong>prac.ailment_id</strong>
  <br>
  <%= debug @prac.ailment_id.class %>
  <br>
  <%= debug @prac.ailment_id.inspect %>
  <hr>
  <%= f.collection_select :ailment_id,
    Ailment.choices(params),
    "id", "name", {:include_blank => true},

  :class => 'chosen-select',
  'data-placeholder' => "Select item",
  :style => "width: 400px"

  %>
  <br>
  <strong>prac.attributes.inspect</strong>
  <%= debug(@prac.attributes) %>
  <hr>
  <strong>params</strong>
  <%= debug(params) %>
  <br>
  <br>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
