<%= form_for(@prac) do |f| %>
  <% if @prac.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prac.errors.count, "error") %> prohibited this prac from being saved:</h2>

      <ul>
      <% @prac.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field" style="background-color:pink;">
    <%= f.label :ailment_id %><br />
    <%= f.collection_select :ailment_id,
      Ailment.all,
      "id", "name",
      {:include_blank => true},
      :class => 'chosen-select',
      'data-placeholder' => "Select ailment",
      :style => "width: 400px"
    %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
